[flake8]
max-line-length = 188
extend-ignore = E,D,W,E203,D100,D101,D102,D103,D104,D105,D107,D200,D201,D202,D205,D400,D401,D402,E722,F541,W503,F821
per-file-ignores = 
    __init__.py:F401,F403
    test_*.py:D
    tests/*:D
    scripts/*:D,E722
    examples/energy_monitoring_*.py:E501,D301
    examples/*_example.py:E501
exclude = .git,__pycache__,build,dist,.vscode,notebooks,.conda
